<nav class="navbar navbar-expand navbar-dark bg-body-dark">
    <% if(user) { %>
        <span class="navbar-text text-light fw-medium ms-0">Logged in as: <%= user.username %></span>
    <% } %>
    <div class="container-fluid">
    <ul class="nav-list">
        <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
        </li>
        <% if (!user) { %>
            <li class="nav-item">
                <a href="/login" class="nav-link">Login</a>
            </li>
            <li class="nav-item">
                <a href="/signup" class="nav-link">Signup</a>
            </li>
        <% } else { %>
        <li class="nav-item">
            <a href="/profile" class="nav-link">Profile</a>
        </li>
        <li class="nav-item">
            <a href="/feed" class="nav-link">Feed</a>
        </li>
        <li class="nav-item">
            <a href="/logout" class="nav-link">Logout</a>
        </li>
        <% } %>
    </ul>
    </div>
</nav>