<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <header>
        <%- include('./partials/header') %>
        <h1>Item Page</h1>
    </header>

    <!--Create-->
    <form id="createForm" action="/item" method="POST">
        <input type="text" name="name" placeholder="item name" required>
        <input type="text" name="description" placeholder="item description" required>
        <button type="submit">Create Item</button>
    </form>

    <!--Update-->
    <form id="updateForm" action="/item/update/" method="POST">
        <input type="text" name="name" id="updateName" placeholder="New item name" required>
        <input type="text" name="description" id="updateDescription" placeholder="item description" required>
        <button type="submit">Create Item</button>
    </form>

    <!--Item List-->
</body>
</html>